# Node modules of the project.
node_modules/

# Environment variables of the project.
.env

# Build folders of the project.
client/build/
server/dist/

# Logs of the project.
*.log

# OS files of the project.
.DS_Store
Thumbs.db
